@import "tailwindcss";
@tailwind utilities;
@layer base {
  .font-kumar {
    font-family: "Kumar One", system-ui, sans-serif;
  }
}

html, body {
  overscroll-behavior-y: contain;
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
} 

section {
  scroll-margin-top: 80px;
  scroll-behavior: smooth;
}

:root {
  font-family: Inter;
  background-color: #E9EBEE;
  color: #07162C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color-scheme: light dark;

  --favicon-light: url(../../../public/images/light.png);
  --favicon-dark: url(../../../public/images/dark.svg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.custom-dots li.slick-active div {
  background-color: #000000;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(10px); }
  15% { opacity: 1; transform: translateY(0); }
  85% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease-out forwards;
}