@import "tailwindcss";
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

@layer base {
  .font-kumar {
    font-family: "Kumar One", system-ui, sans-serif;
  }
}

html, body {
  overscroll-behavior-y: contain;
  height: 100%;
  overflow-x: hidden;
}

section {
  scroll-margin-top: 80px;
  scroll-behavior: smooth;
}

:root {
  font-family: Inter;
  background-color: #E9EBEE;
  color: #07162C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev,
.slick-next {
  display: none !important;
}