@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url(./shared/assets/fonts/Inter_28pt-Regular.ttf);
}

:root {
  font-family: Inter;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

